$bgc_2e2: #2e2e30;
$bgc_f64: #f64f4c;
$bgc_c4c: #c4c5c8;
$bgc_4a4: #4a4b4d;
$bgc_4e5: #4e5252;
$bgc_f0: #f0f0f0;
$bgc_e5: #e5e5e5;
$bgc_3fa: #3fa2f4;
$fc_fff: #fff;
$fc_f5: #f5f5f5;
$fc_aaa: #aaa;
$fc_444: #444;
$fc_3e: #3e3e3e;
$bor_cfd: #cfdde8;
$bgc_4da: #4da8f2;
$bgc_f5c: #f5c253;
