@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
	font-family:"微软雅黑";}
::-webkit-scrollbar-track{border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);}/*滚动条的滑轨背景颜色*/
::-webkit-scrollbar-thumb{background-color: rgba(0,0,0,0.05);border-radius: 10px;-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);}/*滑块颜色*/
::-webkit-scrollbar-thumb{background-color: rgba(0,0,0,0.2);border-radius: 10px;-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);}
::-webkit-scrollbar{width: 16px;height: 16px;}/* 滑块整体设置*/
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb{border-radius: 999px;border: 5px solid transparent;}
::-webkit-scrollbar-track{box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;}
::-webkit-scrollbar-thumb{min-height: 20px;background-clip: content-box;box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;}
::-webkit-scrollbar-corner{background: transparent;}/* 横向滚动条和纵向滚动条相交处尖角的颜色 */
@font-face {
	font-family: font01;
	src: url(../font/DATA-font01.TTF);
}
body{
	background-image: url("../img/bg.png");
}
.div_home{
	width: 100%;
	height: 100%;

	padding: 0px;
	background-image: url("../img/map.png");
	margin: 0 auto;
}
.clear{
	clear: both;
}
.home_title{
	width: 100%;
	height: 13.7%;
	background-image: url("../img/bottom-01.png");
	background-repeat: no-repeat;
	z-index: 100;
	background-size: cover;
	margin: 0 auto;

}
.home_logo{
	float: left;
}
.home_ul{
	list-style: none;
left: 450px;
	top:25px;
	position: absolute;
}
.home_ul li{
	float: left;
}
.title_but{
	width: 110px;
	height: 22px;
	display: inline-block;
	text-decoration: none;
	color: #FFFFff;
	text-align: center;
	line-height: 22px;
	font-size: 12px;
	background-image: url("../img/butbg.png");
	margin-left: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	font-weight: bold;

}
.title_but:hover{
	color: #ffffff;
}
.home_left{
	width: 22%;
	float: left;
}
.left_top{
	width: 25%;
	text-align: center;

	padding-top: 0.5%;
	padding-bottom: 0.5%;
	font-size: 14px;
	color: #00f2ff;
	float: left;
	font-weight: bold;

}
.right_top{
	width: 25%;
	text-align: center;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	font-size: 14px;
	color: #00f2ff;
	float: right;
	font-weight: bold;

}
.left_con1{
	width: 23%;
	height: 17.2%;
margin-top: -1.5%;
	background-image: url("../img/left_con1.png");
	float: left;
	background-size: 100% 100%;
	background-repeat: no-repeat;}
.left_con2{
	width: 23%;
	height: 33%;
	background-image: url("../img/left_con2.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	float: left;
	margin-top: -0.5%;

}
.left_con3{
	width: 23%;
	height: 28%;
	background-image: url("../img/left_con3.png");

	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: left;
	margin-top: -0.5%;
	overflow: hidden;
}
.right_con1{
	width: 23%;
	height: 17.2%;
	background-image: url("../img/right_con1.png");
	float: right;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: -1.5%;
}
.right_con2{
	width: 23%;
	height: 28.5%;
	background-image: url("../img/right_con2.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: right;
	margin-top: -0.5%;
}
.right_con3{
	width: 23%;
	height: 30.5%;
	background-image: url("../img/right_con3.png");

	background-size: 100% 100%;
	background-repeat: no-repeat;
	float: right;
	margin-top: -1.5%;
	overflow: hidden;
}
.con_p1{
	width: 100%;
	height: 50%;


}
.con_p1 p{
	padding-left: 25px;




}

.span_left{
	width: 48%;
	float: left;
	color: #00aeff;
	font-size: 14px;
	padding-top: 15px;
}
.span_left1{
	width: 48%;
	float: left;
	color: #00fcff;
	font-size: 20px;
	padding-top: 5px;
}
.span_left2{
	width: 48%;
	float: left;
	color: #ffd237;
	font-size: 20px;
	padding-top: 5px;
}
.h_style{
	height: 10%;
	padding-left: 25px;
	color: #0089f3;
	font-size: 12px;
	padding-top: 1%;
	/*padding-bottom: 2%;*/
	font-weight: bold;
}
.i_h{
	width: 20px;
	height: 17px;
	position: relative;
	display: inline-block;
	background-image: url("../img/h_i.png");
	margin-right: 5px;
	top:2px;
}
.con1_cum1{
	width: 96%;
	height:35%;
	margin-left: 2%;
}
.div_bottom{
	width: 100%;
	height:6%;
	position: absolute;
	bottom: 0px;
	background-image: url("../img/bottom_bg.png");

	background-repeat: no-repeat;
	background-size: cover;

}
.div_bottom ul{
	list-style:none;

	position: absolute;
	left: 26%;
	margin: 0;
	padding: 0px;
}
.div_bottom ul li{


	display: inline-block;
    text-align: center;
	margin-top: 0.5%;

}
.div_bottom ul li a{
	text-decoration: none;


    padding-left: 5px;
    padding-right: 5px;





}
.div_bottom ul li:hover{
	background-image: url("../img/hover.png");
}
.div_bottom ul li:active{
	background-image: url("../img/hover.png");
}
.div_bottom ul li img{
	width: 65%;
	height: 70%;
    margin-top: 15%;



}
#table1{
	background-color: transparent !important;
	width: 96% !important;
	margin-left: 2%;
	border: none;
	font-size: 12px;
}
#table1 tr{
	text-align: center;
	color: #00b4ff;

}
.table_style{
	width: 86%;
	border: none;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 1.5%;
	font-size: 11px;
	overflow: hidden;


}
.table_style tr {

	color: #00b4ff;
	font-size: 10px;

line-height: 25px;
	text-align: center;


}
.table_th{
	width: 100%;
	height: 28px;
	text-align: center;
	font-weight: bold;



}
.p_a{
	width: 45%;
	float: left;
	padding-left: 2%;
	padding-top: 5%;

}
.p_b{
	width: 45%;
	float: right;
	padding-left: 5%;
	padding-top: 5%;

}
.p_a01{
	font-size: 14px;
	color: #00aeff;
	float: left;
	margin-right: 1%;
}
.p_a01 p{
	margin: 0;
	padding: 0px;
}
.p_a02{
	font-size: 2em;
	color: #00fcff;
	float: left;

	font-family: font01;
}
.p_a03{
	color: #ffd237;
	float: left;

	font-size: 2em;
	font-family: font01;
}
.video_bg{
    width: 510px;
    height: 320px;
    margin: 0 auto;
    background-image: url("../img/videobg.png");
   margin-top: -600px;
    position: relative;

}
.video_con{
    width: 490px;
    height: 290px;
    position: absolute;
    top:5px;
    left: 10px;
}
.video_top{
    width: 490px;
    height: 43px;
    position: absolute;
    z-index: 100;
    background-image: url("../img/video_top.png");
    left: 10px;
}
.video_spanleft{
    float: left;
    color: #ffffff;
    font-size: 12px;
    padding-top: 5px;
}
.video_spanright{
    float: right;
    margin-right: 5px;
    margin-top: 12px;
}
.bot_left{

	margin-left: 5px;
	padding-top: 1.5%;
float:left;

}
.bottom_right{

	margin-right: 5px;
float: right;

	padding-top: 1.5%;

}
.ul_top{
	width:94%;
	margin-left: 2%;
	height: 9%;
	line-height: 200%;
}
.ul_top span{
	width: 25%;
	float: left;


	text-align: center;
	font-weight: bold;
	color: #00b4ff;
	font-size: 12px;
}
.ul_con{
	width:94%;

	list-style: none;
	line-height: 25px;



}
.ul_con li{
	/*padding-top: 3%;*/
}
.ul_con li span{
	width: 25%;
	float: left;
	text-align: center;




	color: #00b4ff;
	font-size: 14px;

}