@charset "utf-8";
/* CSS Document */
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box}
*,body{padding:0px;	margin:0px;font-family: "微软雅黑";}
body{color:#fff;font-size: 16px; background: #033c76;}
li{ list-style-type:none;}
table{}
i{ margin:0px; padding:0px; text-indent:0px;}
img{ border:none; max-width: 100%;}
a{ text-decoration:none; color:#fff;}
a.active,a:focus{ outline:none!important; text-decoration:none;}
ol,ul,p,h1,h2,h3,h4,h5,h6{ padding:0; margin:0}
a:hover{ color:#06c; text-decoration: none!important}
.clearfix:after, .clearfix:before {
	display: table;
	content: " "
}
 .clearfix:after {
	clear: both
}
.pulll_left{float:left;}
.pulll_right{float:right;}
i{font-style: normal;}
.head{position: relative; height: 90px; margin: 0 15px; padding-right: 60px;}
.head h1{ width: 44%; font-size: 30px;  text-align: center; line-height: 90px; color: #daf9ff;}
.head .menu{  width: 28%}
.head .menu ul{ font-size: 0;}
.head .menu1 ul{text-align: right}
.head .menu2 ul{text-align: left}
.head .menu li{ display: inline-block; position: relative;margin: 25px 0;}
.head .menu li a{ display: block; font-size: 14px; color: #fff; line-height: 40px; padding: 0 15px; }
.head .home{position: absolute; left: 0; line-height: 90px;}
.head .home a *{display: inline-block; vertical-align: middle;}
.head .time{position: absolute; right: 0; line-height: 90px;}



.head .menu li a:hover{ color: #f4e925;}
.menu li a:hover:before,
.menu li a:hover:after,
.menu li:hover:before,
.menu li:hover:after{border-color:  #f4e925; opacity: 1;}

.mainbox{padding: 0px 10px;}
.nav1{margin-left: -6px; margin-right:-6px;}
.nav1>li{padding:0 6px; float: left;}

.box{ border:1px solid rgba(7,118,181,.7); box-shadow:inset 0 0 5px rgba(7,118,181,.8); margin-bottom: 12px; position: relative;}
.tit{ padding: 10px 10px 10px 25px;border-bottom:1px solid rgba(7,118,181,.7);font-size: 16px; font-weight: 500; position: relative;}
.tit:before,.tit01:before{position: absolute; content: ""; width: 6px; height: 6px; background: rgba(22,214,255,.9);box-shadow: 0 0 5px rgba(22,214,255,.9); border-radius: 10px; left: 10px; top: 18px;}

.tit:after,.box:before{ width: 100%; height: 1px; content: ""; position: absolute; left: 0; bottom:-1px; background:linear-gradient(to right,#076ead,#4ba6e0,#076ead); box-shadow: 0 0 5px rgba(131,189,227,1);}
.box:before{top: -1px;}

.boxnav{padding: 10px;}
.nav2{}
.nav2 li:first-child{border:none;}
.nav2 li{float: left;border-left:1px solid rgba(7,118,181,.2); height:240px; padding: 0 10px 10px 10px;}
.tit01{font-size: 16px; font-weight: 500; position: relative; padding-left: 15px;}
.tit01:before{ left: 3px; top: 8px;}

.ftechart{height: 200px;;}


@font-face{font-family:electronicFont;src:url(../font/DS-DIGIT.TTF)}

.table1 th{ border-bottom: 1px solid #407abd; font-size: 14px; text-align: center; padding: 6px 0; color: rgba(255,255,255,.8)}
.table1 td{ border-bottom: 1px dotted#407abd;font-size: 12px; padding:6px 0;text-align: center; color: rgba(255,255,255,.6)}
.table1 tr:last-child td{border: none;}
.mapc{background: url(../images/bg3.png) no-repeat center center; background-size: 100% 100%}
.map{position: relative; height: 100%; padding-top:100px;}
.map img{}
.mapnav{position: absolute; z-index: 100; left: 15px; top: 10px;}
.mapnav div{ background: url(../images/bg1.png) no-repeat; background-size:100% auto;  width: 150px;text-align: center; padding: 15px 0; line-height: 120%;}
.mapnav div span{font-size: 14px; opacity: .6}
.mapnav div p{font-size: 30px; color: #5ee6ff; text-shadow: 0 0 5px #5ee6ff; font-weight: bold; padding-top: 5px;;font-family: electronicFont;}
.mapnav li{float: left; margin-right: 6px;}

.swiper-container{width:100%;height:300px;margin-left:auto;margin-right:auto}
.swiper-slide{background-size:cover;background-position:center}
.gallery-top{height:80%;width:100%}
.gallery-thumbs{height:20%;box-sizing:border-box;padding: 1px 0;}
.gallery-thumbs .swiper-slide{height:100%;border: 2px solid #02366c}
.gallery-thumbs .swiper-slide-thumb-active{ border: 2px solid #fff}

.gnlb {text-align: center;}
.gnlb li{position: relative; display: inline-block; width: 48%; border: 1px solid #3e6ec0; margin:6px 0;}
.gnlb li span{display:block; padding: 6px 0; text-align: center; font-size: 12px; color: rgba(255,255,255,.5);}
.gnlb li span em{font-size: 18px; color: #FFDB6C; font-style: normal;font-family:electronicFont;}
.gnlb li:before,
.gnlb li:after{ position:absolute; width:10px; height:5px; content: "";  border-top: 2px solid #1a8bc2; top: -2px;border-radius: 2px;}
.gnlb li:before,.gnlb li span:before{border-left: 2px solid #1a8bc2;left: -2px;}
.gnlb li:after,.gnlb li span:after{border-right: 2px solid #1a8bc2; right: -2px;}
.gnlb li span{ position:relative;}
.gnlb li span:before,
.gnlb li span:after{ position:absolute; width:10px; height:5px;  content: "";border-bottom: 2px solid #1a8bc2; bottom:-2px;border-radius: 2px;}


.weather{display: flex; justify-content: space-between; padding: 0 30px; height: 100%; align-items: center;}
.wt2{display: flex; align-items: center;}
.wt2 p{ font-size: 32px; padding-left: 10px; line-height: 100%;}
.wt2 p sup{ font-size: 14px;}

.wt1 span{font-size: 12px;}
.wt1 img{width: 36px;}
.wt03 p{line-height: 140%; font-size: 14px;}

.wt03 p span{ display: inline-block; width: 70px; text-align: right; opacity: .6;}










