body{
    margin: 0;
    padding: 0;
    background: url('../images/bg.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background.jpg', sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background.jpg', sizingMethod='scale');
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
li{
    list-style: none;
}
.header{
    width: 700px;
    margin: 0 auto;
}
.header p.p1{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-top: 110px;
}
.header p.p2{
    height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    margin-top: 10px;
    font-size: 20px;
    color: #fec468;
}
.header p.p3{
    height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-size: 28px;
    color: #bddde6;
}
.contain{
    width: 1210px;
    margin: 0 auto;
    margin-top: 80px;
    height: 400px;
}
.contain ul li img{
    display: inline-block;
    margin-left: -45px;
}
.contain ul li span{
    display: inline-block;
    vertical-align:16px;
    font-size: 30px;
    color: #57daff;
    margin-left: 20px;
}
.contain ul{
    width: 100%;
    height: 100%;
}
.contain ul li{
    width: 600px;
    height: 200px;
    line-height: 210px;
    float: left;
    background-image: url('../images/kuang.png');
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    background-color:transparent;
}
.contain ul li:hover{
    background: url('../images/chooseKuang.png') center center no-repeat;
    /*background-color: -webkit-linear-gradient(red, blue); /* Safari 5.1 - 6.0 */
    /*background-color: -o-linear-gradient(red, blue); /* Opera 11.1 - 12.0 */
    /*background-color: -moz-linear-gradient(red, blue); /* Firefox 3.6 - 15 */
    /*background-color: linear-gradient(red, blue); /* 标准的语法 */
}
.contain ul li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.footer{
    width: 400px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-200px);
    text-align: center;
    color: #6d95aa;
}
.footer span{
    vertical-align:top;
}

