<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>监控大屏二区</title>
<link rel="stylesheet" href="../css/main.css" type="text/css" />
</head>
<body>
  <div class="header">
    <div class="switch"><img src="../images/switch.gif" alt=""/></div>
    <div class="logo"><img src="../images/logo.gif" alt="" /></div>
    <div class="tabside">
      <ul><li>监控一区</li><li class="selected">监控二区</li></ul>
    </div>
  </div>
  <div class="kong"></div>
  <div class="main">
    <div class="maintop">
      <div class="maintop_l">
        <div class="maintop_r">
          <h1 class="sys_tit"><i></i>系统架构可视化监控</h1>
          <div class="maintop_con">
            <div class="left"><img src="../images/pic1.gif" alt="" /></div>
            <!--数据表结束-->
            <div class="right">
              <div class="list">
                <div class="list_l">
                  <div class="list_l_con">
                    <h1 class="pro_icon"><i></i>厂商列表</h1>
                    <div class="pro_con">
                      <ul class="listone">
                        <li>PACS</li>
                        <li class="cur">HIS</li>
                        <li>病案</li>
                        <li>设备</li>
                        <li>NIS</li>
                        <li>病案</li>
                        <li>设备</li>
                        <li>NIS</li>
                        <li>PACS</li>
                        <li>HIS</li>
                      </ul>
                      <ul class="listtwo">
                        <li>PACS</li>
                        <li>HIS</li>
                        <li>病案</li>
                        <li>设备</li>
                        <li>NIS</li>
                        <li>病案</li>
                        <li>设备</li>
                        <li>NIS</li>
                        <li>PACS</li>
                        <li>HIS</li>
                      </ul>
                      <ul class="listone">
                        <li>PACS</li>
                        <li>HIS</li>
                        <li>病案</li>
                        <li>设备</li>
                        <li>NIS</li>
                        <li>病案</li>
                        <li>设备</li>
                        <li>NIS</li>
                        <li>PACS</li>
                        <li>HIS</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!--列表结束-->
                <div class="list_r">
                  <div class="list_r_con">
                    <h1 class="his_icon"><i></i>HIS系统业务性能简介</h1>
                    <div class="his_con">
                      <ul>
                        <li>HIS提供服务颗粒：<span class="green">43</span> 个</li>
                        <li>服务平均相应时间：<span class="green">1.5</span>S</li>
                        <li>发送业务消息数：<span class="green">534232</span> 条</li>
                        <li>接收业务消息数：<span class="green">314358 </span>条</li>
                        <li>处理异常消息数：<span class="red">56</span> 条</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
    <div class="mainbottom">      
       <div class="kong"></div>
       <div class="mainbottom_con">
         <div class="mainbottom_con_l">
           <div class="mainbottom_con_ll">
             <div class="mainbottom_con_lr">
               <h1 class="tod_tit"><i></i>系统架构可视化监控</h1>
               <div class="mainbottom_con_mains">
                 <div class="mainbottom_con_main">
                   <ul class="lisone">
                     <li>病人新建档案：<span class="green">2934</span> 份</li>
                     <li>新开心电单据：<span class="green">324</span> 份</li>
                     <li>新开放射单据：<span class="green">1342</span> 份</li>
                     <li>新开超声单据：<span class="green">212</span> 份</li>
                     <li>新入员工：<span class="green">2</span> 人</li>
                   </ul>
                   <ul class="listwo">
                     <li>入院人数：<span class="green">2934</span> 份</li>
                     <li>出院人数：<span class="green">324</span> 份</li>
                   </ul>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <!--今日业务数据流发展情况-->
         <div class="mainbottom_con_r">
            <div class="mainbottom_con_rl">
              <div class="mainbottom_con_rm">
                <div class="mainbottom_con_rr">
                   <h1 class="app_tit"><i></i>应用系统服务列表 <ul class="dot"><li></li><li></li><li></li><li class="sel"></li><li></li></ul></h1>
                   <div class="mainbottom_con_bodys">
                     <div class="mainbottom_con_body">
                       <div class="wd">
                         <div class="wd_con">
                           <div class="data"><img src="../images/监控大屏二期_49.gif" alt=""/></div>
                           <ul>
                             <li class="tit">病人创建档案服务</li>
                             <li>发送消息：349</li>
                             <li> 异常：0</li>
                           </ul>
                         </div>
                       </div>
                       <div class="wd">
                         <div class="wd_con">
                           <div class="data"><img src="../images/监控大屏二期_49.gif" alt=""/></div>
                           <ul>
                             <li class="tit">病人创建档案服务</li>
                             <li>发送消息：349</li>
                             <li> 异常：0</li>
                           </ul>
                         </div>
                       </div>
                       <div class="wd">
                         <div class="wd_con">
                           <div class="data"><img src="../images/监控大屏二期_49.gif" alt=""/></div>
                           <ul>
                             <li class="tit">病人创建档案服务</li>
                             <li>发送消息：349</li>
                             <li> 异常：0</li>
                           </ul>
                         </div>
                       </div>
                       <div class="wd">
                         <div class="wd_con">
                           <div class="data"><img src="../images/监控大屏二期_49.gif" alt=""/></div>
                           <ul>
                             <li class="tit">病人创建档案服务</li>
                             <li>发送消息：349</li>
                             <li> 异常：0</li>
                           </ul>
                         </div>
                       </div>
                       <div class="wd">
                         <div class="wd_con">
                           <div class="data"><img src="../images/监控大屏二期_49.gif" alt=""/></div>
                           <ul>
                             <li class="tit">病人创建档案服务</li>
                             <li>发送消息：349</li>
                             <li> 异常：0</li>
                           </ul>
                         </div>
                       </div>
                       
                     </div>
                   </div>
                </div>
              </div>
            </div>
         </div>
       </div>
    </div>
  </div>
</body>
<!--
    访问地址：https://paycloud.vip

-->
<script language="javascript" type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
<script language="javascript" type="text/javascript" src="../js/auto_height.js"></script>
</html>
